/*
______    _   _    _____    _____    _____    _   _    _____
| ___ \  | | | |  |_   _|  |_   _|  |  _  |  | \ | |  /  ___|
| |_/ /  | | | |    | |      | |    | | | |  |  \| |  \ `--.
| ___ \  | | | |    | |      | |    | | | |  | . ` |   `--. \
| |_/ /  | |_| |    | |      | |    | |_| |  | |\  |  /\__/ /
\____/    \___/     \_/      \_/    |_____|  \_| \_/  \____/
*/

/* === BOTO GENERAL === */
.button {
    -fx-background-color: #E91E63;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 0 20px;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #C2185B;
}

.button:pressed {
    -fx-background-color: #e0e0e0;
}

/* === BOTO MENU === */
.menu-button {
    -fx-background-color: #262125;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-width: 0;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #E91E63;
}

.menu-button:pressed {
    -fx-background-color: #AD1457;
}

/* === BOTO LOGOUT === */
.logout-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 6px 10px;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.logout-button:hover {
    -fx-background-color: #C2185B;
}

.logout-button:pressed {
    -fx-background-color: #e0e0e0;
}

/*
_____    _   _   ______    _   _    _____    _____
|_   _|  | \ | |  |  _  \  | | | |  |_   _|  /  ___|
  | |    |  \| |  | | | |  | | | |    | |    \ `--.
  | |    | . ` |  | | | |  | | | |    | |     `--. \
 _| |_   | |\  |  | |/ /   | |_| |    | |    /\__/ /
\_____/  \_| \_/  |___/     \___/     \_/    \____/
*/

/* === INPUT TEXT (TextField i PasswordField) === */
.text-field, .password-field {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 13px;
    -fx-border-color: #9E9E9E;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 20px;
    -fx-padding: 5px 15px;
}

/* === Focus en el input (quan fem clic) === */
.text-field:focused, .password-field:focused {
    -fx-border-color: #F48FB1;
    -fx-background-color: #f9f9f9;
}

/* === Placeholder (dintre del input) === */
.text-field:prompt-text-visible, .password-field:prompt-text-visible {
    -fx-text-fill: grey;
}

/* === Input deshabilitat === */
.text-field:disabled, .password-field:disabled {
    -fx-opacity: 0.5;
    -fx-background-color: #dddddd;
    -fx-border-color: #aaaaaa;
}

/*
_____     ___    ______    _        _____    _____
|_   _|   / _ \   | ___ \  | |      |  ___|  /  ___|
  | |    / /_\ \  | |_/ /  | |      | |__    \ `--.
  | |    |  _  |  | ___ \  | |      |  __|    `--. \
  | |    | | | |  | |_/ /  | |____  | |___   /\__/ /
  \_/    \_| |_/  \____/   \_____/  \____/   \____/
*/

/* ===== ESTILS TABLEVIEW ===== */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 10;
    -fx-border-radius: 10;
}

/* ===== FILA SUPERIOR CAPÇALERA ===== */
.table-view .column-header-background {
    -fx-background-color: #2c2c2c;
    -fx-border-radius: 10 10 0 0;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-alignment: CENTER_LEFT;
}

.table-view .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* ===== FILES NORMALS ===== */
.table-row-cell {
    -fx-background-color: #f4f4f4;
    -fx-border-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: #eaeaea;
}

.table-row-cell:hover {
    -fx-background-color: #d0e7ff;
}

/* ===== FILA SELECCIONADA ===== */
.table-row-cell:selected {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
}

.table-cell {
    -fx-text-fill: black;
}